/* =================================================================================
Footer
================================================================================= */

.footer { 
	//.uk-clearfix(); 
	height: 300px;
	.footer-container {
		background-image: url('#{$imgpath}adaptt-logo.png');
		background-position: top center;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
	}
}
.footer-copyright { float: left; }
.footer-menu { float: right; }



// 480 and smaller
@media screen and (max-width: $breakpoint-xxsmall-max) {
	.footer {
		height: 200px;
		width: 100%;
		.footer-container {
			background-size: 100%;
		}
	}
} 

// 640 and smaller
@media screen and (max-width: $breakpoint-xsmall-max) {}

// 960 and smaller
@media screen and (max-width: $breakpoint-small-max) {}

// 1200 and smaller
@media screen and (max-width: $breakpoint-medium-max) {}

// 1600 and smaller
@media screen and (max-width: $breakpoint-large-max) {}